.table-page{
    /* min-width: 1200px; */
    /* width: calc(100% - 100px); */
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: flex-start;
    /* flex-wrap: wrap; */
}

.i-name{
    color: #444a53;
    padding: 30px 30px 0 30px;
    font-size: 24px;
    font-weight: 700;
    margin-top: 70px;
}

/* @media (max-width: 769px){

} */


.board{
    /* width: 100%; */
    width: 950px;
    margin-top: 60px;
    margin-left: 60px;
    display: block;
    overflow-x: auto;
    justify-content: center;
    overflow: auto;
    /* margin: 30px; */
    /* padding: 0; */
    background: #fff;
    border-radius: 8px;
}

@media (max-width: 1200px) {


    .board{
        /* width: calc(100% - 30px); */
        width: 100%;
        overflow-y: scroll;
        margin: 15px;
        padding: 12px;
        /* margin: auto; */
    }

}


@media (max-width: 477px) {


    .board{
        width: calc(100% - 30px);
        margin: 30px 15px 30px 15px;
    }

}

