
.people{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
}

.people img{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 15px;
}

tr h5{
    font-weight: 600;
    font-size: 14px;
}

tr p{
    font-weight: 400;
    font-size: 13px;
    color: #787d8d;
}

tr td{
    padding: 10px 15px;
}

.activity p{
    background: #d7fada;
    padding: 2px 10px;
    display: inline-block;
    border-radius: 40px;
    color: #2b2b2b;
}

.edit a{
    text-decoration: none;
    font-size: 14px;
    color: #554cd1;
    font-weight: 600;
}




