
.interface{
    width: calc(100% - 300px);
    margin-left: 300px;
    position: relative;
}

/* responsive part */

@media (max-width: 800px) {

    .interface{
        width: 100%;
        margin-left: 0;
        display: inline-block;
        transition: 0.3s ease;
    }

    /* .side-bar.active ~ .interface{
        width: calc(100% - 270px);
        margin-left: 270px;
        transition: 0.3s ease;
    } */

    .interface .navigation{
        width: 100%;
    }

    .values{
        padding: 30px 30px 0 30px;
        justify-content: flex-start;
    }

    .values .val-box{
        padding: 16px 20px;
        margin: 10px 20px 10px 0;
    }

    .board{
        width: 92%;
        padding: 0;
        overflow-x: hidden;
    }

    table{
        width: 100%;
        border-collapse: collapse;
    }



}


@media (max-width: 477px) {


    .board{
        margin: 30px 15px 30px 15px;
    }

}

@media (max-width: 620px){
        .values{
        padding: 15px 15px 0 15px;
    }

    .values .val-box{
        width: 100%;
        margin: 8px 0;
    }
}

@media (max-width: 477px) {



    .i-name{
        padding: 30px 15px 0 15px;
    }


    .board{
        margin: 30px 15px 30px 15px;
    }

}

