

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 15px 30px;
    border-bottom: 3px solid #594ef7;
    position: fixed;
    top: 0;
    width: calc(100% - 300px);
}

.navigation .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #d7dbe6;
    padding: 10px 14px;
    border-radius: 4px;
}

.navigation .search .search-icon{
    margin-right: 14px;
}

.navigation .search input{
    border: none;
    outline: none;
    font-size: 14px;
}

.navigation .profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navigation .profile .bell-icon{
    margin-right: 20px;
    font-size: 19px;
    font-weight: 400;
}

.navigation .profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.n1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-btn{
    display: none;
    color: #2b2b2b;
    font-size: 20px;
    cursor: pointer;
    margin-right: 20px;
}

/* responsive part */

@media (max-width: 800px){

    .menu-btn{
        display: block;
    }

}


@media (max-width: 477px) {


    .navigation{
        padding: 15px;
    }

    .navigation .search input{
        width: 150px;
    }

    .board{
        margin: 30px 15px 30px 15px;
    }

}

