
.side-bar{
    background: #111827;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* display: none; */
}

.side-bar .logo{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

/* in the case of the logo being an image  */

/* .side-bar .logo img{
    width: 40px;
    margin-right: 15px;
    border-radius: 50%;
} */


/* In the case of the logo being a text */

.side-bar .logo h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #eee;
    color: #111827;
    border-radius: 50%;
    padding: 30px;
    margin-right: 15px;
}

/* Items elements of the sidebar */

.side-bar .items{
    margin-top: 40px;
}

.side-bar .items li{
    list-style: none;
    padding: 20px 0;
    transition: 0.3 ease;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.side-bar .items li.active{
    border-left: 4px solid #fff;
}

.side-bar .items li:hover{
    background: #253047;
    cursor: pointer;
}

.side-bar .items li .icons{
    color: rgb(134, 141, 151);
    line-height: 30px;
    text-align: center;
    /* font-size: 22px; */
    margin: 0 10px 0 25px;
}

.side-bar .items li:hover .icons,
.side-bar .items .a:hover{
    color: #f3f4f6;
}

.side-bar .items .a{
    text-decoration: none;
    color: rgb(134, 141, 151);
    font-weight: 300px;
    transition:  0.3s ease;
}

/* responsive part */

@media (max-width: 800px){
    .side-bar{
        width: 270px;
        position: fixed;
        left: -270px;
        transition: 0.3s ease;
    }

    .side-bar.active{
        left: 0;
    }

}


