
.side-bar{
    background: #111827;
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.side-bar .logo{
    display: flex;
    align-items: center;
    color: #fff;
    padding: 30px 0 0 30px;
}

/* in the case of the logo being an image  */

/* .side-bar .logo img{
    width: 40px;
    margin-right: 15px;
    border-radius: 50%;
} */


/* In the case of the logo being a text */

.side-bar .logo h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #eee;
    color: #111827;
    border-radius: 50%;
    padding: 30px;
    margin-right: 15px;
}

/* Items elements of the sidebar */

.side-bar .items{
    margin-top: 40px;
}

.side-bar .items li{
    list-style: none;
    padding: 15px 0;
    transition: 0.3 ease;
}

.side-bar .items li.active{
    border-left: 4px solid #fff;
}

.side-bar .items li:hover{
    background: #253047;
    cursor: pointer;
}

.side-bar .items li .icons{
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
}

    /* FaPieChart,
    FaTable,
    FaPencil,
    FaIdCard,
    FaListOl,
    FaLineChart{
    color: rgb(134, 141, 151);
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 0 10px 0 25px;
    } */


