

table{
    width: 100%;
    /* width: calc(100% - 300px); */
    /* min-width: 700px; */
    border-collapse: collapse;
    box-sizing: border-box;
}

tr{
    border-bottom: 1px solid #eef0f3;
}

thead, td, tbody, td{
    padding: 12px 16px;
}

thead td{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: start;
    background: #f9fafb;
    padding: 15px;
}

@media (max-width: 1200px){

    table{
        width: calc(100% - 30px);
    }

}

@media (max-width: 800px){

    table{
        width: 800px
    }

}

@media (max-width: 500px){

    table{
        width: calc(100% - 250px);
        overflow-y: hidden;
        /* min-width: 480px; */
    }

}

